@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h4>Add a new cuisine</h4>

<p><strong>NOTE:</strong> You need to have at least one restaurant before you can add a cuisine!</p>
<p>- Go to @Html.ActionLink("this page", "Create", "Categories") to create a restaurant -</p>
<hr> 
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.LabelFor(model => model.Category)
  @Html.DropDownList("CategoryId")

  <input type="submit" value="Add new cuisine" class="btn btn-default" />
}
<hr>
<p>@Html.ActionLink("Show all cuisines", "Index")</p>